div.text_s_4{
    width: 100%;
    height: 96px;
    margin: 20px 0px;
}

div.text_s_4 > p.txt_4{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

p.txt_4{
    color: black;
    font-family: medium;
    font-weight: 90;
    font-size: 35px;
    line-height: 100px;
}